body{
  background-color:rgb(103, 112, 128);
  color:#99c1ff; 
}

header, main,footer {
  text-align: center;
}

h1{
  font-family:'Bahianita', cursive;
  font-size: 3em;
  margin-bottom 0px;
  text-align:center;
}

h2{
  font-family:'Bahianita', cursive;
  font-size: 2em;
  margin-bottom 0px;
  text-align:center;
}

p{
  font-family:'Bahianita', cursive;
  font-size: 2em;
  margin-bottom 0px;
  text-align:center;
  
}
footer{
   font-size: 12px;;
   color: #99c1ff;
}
.center{
  border: 3px solid green;
  background-color: rgb(92, 96, 102);
  width: 400px;
  border: 15px solid white;
  padding: 30px;
  margin: 50px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}




